body{
  background-image: url("cat.jpg");
}

.parag, .listas{
  color: yellow;
  font-size:20px;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

.olinks{
  color: black;
}

table{
  font-size: 20px;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

form{
  color: orange;
  font-size: 15px;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
